# build output
dist/
.astro/

# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production
.env.development

# system files
.DS_Store
Thumbs.db
